body {
  background: #274982;
}

.winner {
  color: #93b0ff;
  font-weight: bold;
}

.btn-lg {
  background: #274982;
  height: 100px;
  width: 100px;
  font-size: 80px;
  border: solid #93b0ff;
  color: #93b0ff;
  line-height: 70px;
  padding-bottom: 15px;
  cursor: pointer;
}

.gameboard {
  margin: auto;
  width: 330px;
}

.row {
  height: 110px;
  width: 330px;
  font-size: 70px;
  margin: 0;
}

.field {
  cursor: pointer;
}

#reset {
  background: #274982;
  border: solid #93b0ff;
  color: #93b0ff;
  width: 330px;
  margin-top: 10px;
}

.win-text {
  width: 190px;
  height: 67px;
  margin: auto;
}

[id="0"] {
  border-bottom: 1px solid #93b0ff;
  border-right: 1px solid #93b0ff;
}

[id="1"] {
  border-bottom: 1px solid #93b0ff;
}

[id="2"] {
  border-bottom: 1px solid #93b0ff;
  border-left: 1px solid #93b0ff;
}

[id="3"] {
  border-right: 1px solid #93b0ff;
}

[id="5"] {
  border-left: 1px solid #93b0ff;
}

[id="6"] {
  border-top: 1px solid #93b0ff;
  border-right: 1px solid #93b0ff;
}

[id="7"] {
  border-top: 1px solid #93b0ff;
}

[id="8"] {
  border-top: 1px solid #93b0ff;
  border-left: 1px solid #93b0ff;
}
